<h1>Listing globalcontacts</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Twitterid</th>
      <th>Linkedin</th>
      <th>Facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @globalcontacts.each do |globalcontact| %>
      <tr>
        <td><%= globalcontact.firstname %></td>
        <td><%= globalcontact.lastname %></td>
        <td><%= globalcontact.email %></td>
        <td><%= globalcontact.twitterid %></td>
        <td><%= globalcontact.linkedin %></td>
        <td><%= globalcontact.facebook %></td>
        <td><%= link_to 'Show', globalcontact %></td>
        <td><%= link_to 'Edit', edit_globalcontact_path(globalcontact) %></td>
        <td><%= link_to 'Destroy', globalcontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Globalcontact', new_globalcontact_path %>
