<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @globalcontact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @globalcontact.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @globalcontact.email %>
</p>

<p>
  <strong>Twitterid:</strong>
  <%= @globalcontact.twitterid %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @globalcontact.linkedin %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @globalcontact.facebook %>
</p>

<%= link_to 'Edit', edit_globalcontact_path(@globalcontact) %> |
<%= link_to 'Back', globalcontacts_path %>
